.h1-mobile {
    font-size: 30px;
}

.visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
width: 300px;
 }

.visit-us-container, .our-exhibiton-container, .vritual-reality-container {
    display: flex;
    text-align: center;
    width: 830px;
    margin-left: 1%;
}
.explore {
    width: 395px;
}

.visit-us {
    margin-right: 60px;
}


.h2-guided-tours {
    margin-left: 0px;
}

.text-guided-tours {
    margin-left: 0px;
    max-width: 350px;
}

#guided-tours-cta {
    width: 350px;
    margin-top: 2px;
}

.visit-us-container {
    background-color: green;
    width: 100%;
    margin-left: 0px;
}