.h1-mobile {
    font-size: 25px;
}

.home-text-container {
}

.home-text {
    max-width: 800px;
    margin: 0 auto;
}

.visit-us-container, .our-exhibiton-container, .vritual-reality-container {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.night-at-the-museum-container {
    margin-left: 50px;
}


.visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    width: 250px;
    margin-right: 40px;
}
    
 #visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
     margin-right: 40px;
     width: 250px;

 }

 .h2-visit-us, .h2-guided-tours, .h3-our-exhibiton, .h3-explore, .h4-lectures, .h5-vritual-reality, .h5-sheila-widnall-lecture, .h6-night-at-the-museum {
     font-weight: normal;
 }

.text-visit-us, .text-guided-tours, .our-exhibiton-text, .explore-text, .lectures-text, .vritual-reality-text, .sheila-Widnall-lecture-text, .night-at-the-museum-text {
    max-width: 250px;
}

.news-container {
    margin-top: 60px;
    background-color: #fff;
}

.news-minor-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: 30px;
    background-color:  #D9A407;
    width: 540px;
}

.news-text {
    margin-left: 10px;
}

.visit-us-desktop {
    display: block;
    width: 100%;
}

.visit-us-top-image {
    display: none;
}

.h1-visit-us {
    font-size: 30px;
    left: 30px;
     }

.h1-visit-us-text {
    font-weight: normal;
}

.top-image-our-exhibiton {
    display: none;
}

.top-image-our-exhibiton-desktop {
    display: block;
    width: 100%;
}

.h1-our-exhibiton {
    font-size: 25px;
    font-weight: normal;
}

.h-exhibiton {
    font-weight: normal;
}

.exhibiton-container {
    width: 100%;
}

.exhibiton-minor-container {
    margin-top: 100px;
}


.cosmology-flex-container, .biology-flex-container, .ecology-flex-container {
    display: flex;
    width: fit-content;
    margin: auto;
}

.evolution-flex-container, .robotics-flex-container {
    display: flex;
    width: fit-content;
    margin: auto;
    flex-direction: row-reverse;
}

.h-exhibiton {
    margin-top: 0px;
    text-align: start;
}

.ecology-text, .robotics-text, .biology-text, .evolution-text, .cosmology-text {
    margin-top: 40px;
}

.evolution-image, .robotics-image {
    margin-top: 65px;
    margin-left: 60px;
}

.cosmology-image, .biology-image, .ecology-image {
    margin-right: 60px;
}

.learn-about-science-minor-container, .for-teachers-minor-container, .for-researchers-minor-container {
    margin-left: 50px;
    margin-right: 50px;
}

.learn-about-science-flex-container, .for-researchers-flex-container {
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 200px;
}

.for-teachers-flex-container {
    display: flex;
    width: fit-content;
    margin: auto;
    flex-direction: row-reverse;
    margin-top: 100px;
}

.image-learn-about-science, .for-teachers-image, .for-researchers-image {
    width: 400px;
}

.for-teachers-image {
    margin-top: 60px;
}

.learn-about-science-header, .for-teachers-header, .for-researchers-header {
    margin-top: 0px;
    max-width: 400px;
    font-weight: normal;
}

.learn-about-science-text, .for-teachers-text, .for-researchers-text {
    margin-top: 0px;
    max-width: 400px;
    margin-top: 40px;
}


@media only screen and (min-width: 850px) {

    .visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    width: 400px;
    margin-right: 40px;
    }
        
    #visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
    margin-right: 40px;
    width: 350px;
    
    }
    
    .h2-visit-us, .h2-guided-tours, .h3-our-exhibiton, .h3-explore, .h4-lectures, .h5-vritual-reality, .h5-sheila-widnall-lecture, .h6-night-at-the-museum {
    font-weight: normal;
    }
    
    .text-visit-us, .text-guided-tours, .our-exhibiton-text, .explore-text, .lectures-text, .vritual-reality-text, .sheila-Widnall-lecture-text, .night-at-the-museum-text {
    max-width: 250px;
    }

    .news-minor-container {
        width: 830px;
    }

    .h1-visit-us {
        bottom: 30px;
         }
    
    .evolution-image, .robotics-image, .cosmology-image, .biology-image, .ecology-image {
        width: 400px;
    }

    .ecology-text, .robotics-text, .biology-text, .evolution-text, .cosmology-text {
        width: 400px;
    }

    .h1-our-exhibiton {
        font-size: 50px;
        left: 30px;
    }

}


