html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}


header {
    display: flex;
    background-color: #D9A407;
    height: 45px;
    margin-bottom: 0px;
}

nav {
    margin: -20px;
    background-color: hotpink;
    width: 100%;
    display:none
}

ul {
    display: flex;
    justify-content: space-around;
    font-size: 20px
}


.nav-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.ul-mobile-container {
    display:none;
}

.ul-mobile {
    background-color: #fff;
    display: block;
    position: absolute;
    top: 30px;
    right: 0px;
    height: 200px;
}


#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ .ul-mobile-container {
    display: block;
}

.h1-home-mobile {
    position: absolute;
    text-align: start;
}

.h1-mobile {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 23%;
    color: #fff;
    font-size: 10px;
}

.home-background-mobile {
    margin-top: 40px;
    text-align: center;
}

.home-image-mobile {
    width: 100%;
    margin-top: -40px;
}

.home-text-container {
    margin-top: 30px;
    background-color:#E4E4E4;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-text {
    font-size: 10px;
}

.visit-us, .guided-tours, .our-exhibiton, .explore, .lectures, .vritual-reality, .sheila-Widnall-lecture, .night-at-the-museum {
    text-align: center;
}

#visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
    width: 210px;
    height: 30px;
    background-color: #D48F07;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    margin-top: 30px;
}

.visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    margin-top: 50px;
    width: 210px;
}


.h2-visit-us, .h2-guided-tours, .h3-our-exhibiton, .h3-explore, .h4-lectures, .h5-vritual-reality, .h5-sheila-widnall-lecture, .h6-night-at-the-museum {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: start;
}

.text-visit-us, .text-guided-tours, .our-exhibiton-text, .explore-text, .lectures-text, .vritual-reality-text, .sheila-Widnall-lecture-text, .night-at-the-museum-text {
    margin-top: 0px;
    max-width: 210px;
    font-size: 12px;
    text-align: start;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.news-container {
    height: 35px;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-top: 10px;
    background-color:  #D9A407;
}


.news-text {
    font-size: 25px;
    margin: 0px;
}

.visit-us-desktop {
    display: none;
}

.visit-us-top-image {
    width: 100%;
}

.visit-us-text-container-large {
    width: 100%;
    margin-left: 10px;
    margin-left: 10px;
}

.visit-us-text-container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.h1-text-container { 
    position: relative;
}

.h1-visit-us {
    position: absolute;
    bottom: 5px;
    color: white;
}

.h2-location, .h3-admission, .h4-Hours, .h5-accessibility, .h6-food-and-drink, .h7-shop {
    font-size: 15px;
    margin-top: 50px;
    font-weight: bold;
}

.visit-us-text {
    max-width: 870px;
}

.top-image-container{
    position: relative;
}

.top-image-our-exhibiton {
    width: 100%;
}

.h1-our-exhibiton {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: #fff;
}

.cosmology-image {
    width: 100%;
}

.exhibiton-container {
    width: 100%;
}

.exhibiton-minor-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.h-exhibiton {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.cosmology-image, .evolution-image, .biology-image, .robotics-image, .ecology-image {
    width: 250px;
}

.cosmology-text, .evolution-text, .biology-text, .robotics-text, .ecology-text {
    width: 250px;
}


@media only screen and (min-width: 280px) and (max-width: 349px) {
    .visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
        width: 270px;
        }

    #visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
        width: 260px;
         }

    .h1-mobile {
        font-size: 12px;
        }

    .h1-visit-us {
        font-size: 20px;
        }

    .h-exhibiton {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 100px;
        }
}


@media only screen and (min-width: 350px) and (max-width: 459px) {
    .visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
        width: 340px;
        }

    #visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
        width: 330px;
        }

     .h1-mobile {
        font-size: 15px;
        }

    .h1-visit-us {
        font-size: 20px;
        }
        .cosmology-image, .evolution-image, .biology-image, .robotics-image, .ecology-image {
            width: 300px;
        }
        
        .cosmology-text, .evolution-text, .biology-text, .robotics-text, .ecology-text {
            width: 300px;
        }
}

@media only screen and (min-width: 460px) and (max-width: 550px) {

    .visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
        width: 430px;
        }
    
    #visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
        width: 410px;
        }

    .text-visit-us, .text-guided-tours, .our-exhibiton-text, .explore-text, .lectures-text, .vritual-reality-text, .sheila-Widnall-lecture-text, .night-at-the-museum-text {
    
        font-size: 18px;
        max-width: 400px;
        }

    .h1-mobile {
        font-size: 20px;
        }

    .h1-visit-us {
        font-size: 20px;
        bottom: 25px;
        }

        .cosmology-image, .evolution-image, .biology-image, .robotics-image, .ecology-image {
            width: 430px;
        }
        
        .cosmology-text, .evolution-text, .biology-text, .robotics-text, .ecology-text {
            width: 430px;
        }
}












