html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

header {
    background-color: #D9A407;
}

.header-mobile {
    display: flex;
}

.logo-mobile-container {
    margin-left: 20px;
    margin-top: 2px;
}

.logo-mobile {
    width: 200px;
}

.nav-bar-mobile {
    display: flex;
}

.search-icon-mobile {
    height: 50px;
    width: 50px;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: 140px;
}

.search-bar-container-mobile {
    margin-top: 15px;
}

.search-bar-mobile {
    height: 40px;
    width: 250px;
}

#hamburger-menu {
    display: none;
}

#menu-mobile {
    position: absolute;
    margin-top: 9px;
    margin-left: 13px;
    height: 379px;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-top: none;
    display: none;
    background-color: #fff;
}

ul {
    font-size: 40px;
}

li {
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #D9A407;
}

a {
    text-decoration: none;
}

#hamburger-menu:checked ~ #menu-mobile {
    display: block;
}

.hamburger-icon-container {
    margin-top: 13px;
}

.hamburger-icon {
    height: 40px;
    margin-left: 215px;
    margin-top: 4px;
}

.h1-home-mobile {
    position: absolute;
    text-align: start;
}

.h1-mobile {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 250px;
    color: #fff;
    font-size: 40px;
}

.home-background-mobile {
    margin-top: -40px;
    text-align: center;
}

.home-image-mobile {
    width: 100%;
}

.home-text-container {
    margin-top: 100px;
    background-color:#E4E4E4;
    padding-top: 10px;
    padding-bottom: 10px
}

.home-text {
}

.visit-us, .guided-tours, .our-exhibiton, .explore, .lectures, .vritual-reality, .sheila-Widnall-lecture, .night-at-the-museum {
    text-align: center;
}

#visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
    width: 850px;
    height: 80px;
    background-color: #D48F07;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 8px;
    margin-top: 50px;
}

.visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    margin-top: 100px;
    width: 850px;
}

.visit-us-container {
    margin-left: 10px;
}

.h2-visit-us, .h2-guided-tours, .h3-our-exhibiton, .h3-explore, .h4-lectures, .h5-vritual-reality, .h5-sheila-widnall-lecture, .h6-night-at-the-museum {
    text-align: start;
    font-size: 40px;
    margin-left: 60px;
}

.text-visit-us, .text-guided-tours, .our-exhibiton-text, .explore-text, .lectures-text, .vritual-reality-text, .sheila-Widnall-lecture-text, .night-at-the-museum-text {
    text-align: start;
    margin-left: 60px;
    margin-top: 50px;
}

.news-container {
    background-color:  #D9A407;
    height: 120px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.news-text {
    font-size: 60px;
}

.visit-us-top-image-container {
}

.visit-us-top-image {
    width: 100%;
}






