html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}


header {
    display: flex;
    background-color: #D9A407;
    height: 90px;
}

nav {
    margin: -20px;
    background-color: hotpink;
    width: 100%;
    display:none
}

ul {
    display: flex;
    justify-content: space-around;
    font-size: 20px
}


.nav-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.ul-mobile-container {
    display:none;
}

.ul-mobile {
    background-color: #fff;
    display: block;
    position: absolute;
    top: 30px;
    right: 0px;
    height: 200px;
}


#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ .ul-mobile-container {
    display: block;
}

.h1-home-mobile {
    position: absolute;
    text-align: start;
}

.h1-mobile {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 23%;
    color: #fff;
    font-size: 10px;
}

.home-background-mobile {
    margin-top: -40px;
    text-align: center;
}

.home-image-mobile {
    width: 100%;
}

.home-text-container {
    margin-top: 30px;
    background-color:#E4E4E4;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-text {
    font-size: 10px;
}

.visit-us, .guided-tours, .our-exhibiton, .explore, .lectures, .vritual-reality, .sheila-Widnall-lecture, .night-at-the-museum {
    text-align: center;
}

#visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
    width: 210px;
    height: 30px;
    background-color: #D48F07;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    margin-top: 0px;
}

.visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    margin-top: 50px;
    width: 210px;
}


.h2-visit-us, .h2-guided-tours, .h3-our-exhibiton, .h3-explore, .h4-lectures, .h5-vritual-reality, .h5-sheila-widnall-lecture, .h6-night-at-the-museum {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: start;
}

.text-visit-us, .text-guided-tours, .our-exhibiton-text, .explore-text, .lectures-text, .vritual-reality-text, .sheila-Widnall-lecture-text, .night-at-the-museum-text {
    margin-top: 0px;
    max-width: 210px;
    font-size: 12px;
    text-align: start;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.news-container {
    background-color:  #D9A407;
    height: 35px;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-top: 10px;
}


.news-text {
    font-size: 25px;
    margin: 0px;
}

.visit-us-top-image {
    width: 100%;
}

@media only screen and (min-width: 280px) and (max-width: 349px) {
    .visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    width: 270px;
    }

    #visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
    width: 260px;
     }

     .h1-mobile {
         font-size: 12px;
     }
}

@media only screen and (min-width: 350px) and (max-width: 459px) {
    .visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    width: 340px;
    }

    #visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
    width: 330px;
     }

     .h1-mobile {
         font-size: 15px;
     }
}

@media only screen and (min-width: 460px) and (max-width: 550px) {

    .visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    width: 430px;
    }
    
    #visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
     width: 410px;
     }

     .text-visit-us, .text-guided-tours, .our-exhibiton-text, .explore-text, .lectures-text, .vritual-reality-text, .sheila-Widnall-lecture-text, .night-at-the-museum-text {
    
    font-size: 18px;
    max-width: 400px;
     }

     .h1-mobile {
         font-size: 20px;
     }
}


@media only screen and (min-width: 550px) and (max-width: 659px) {

    .visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    width: 520px;
    }
    
    #visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
     width: 490px;
     margin-top: 20px;
     height: 40px;
     }

     .h2-visit-us, .h2-guided-tours, .h3-our-exhibiton, .h3-explore, .h4-lectures, .h5-vritual-reality, .h5-sheila-widnall-lecture, .h6-night-at-the-museum {

    font-size: 20px;
     }

     .text-visit-us, .text-guided-tours, .our-exhibiton-text, .explore-text, .lectures-text, .vritual-reality-text, .sheila-Widnall-lecture-text, .night-at-the-museum-text {
    
    font-size: 18px;
    max-width: 400px;
     }

     .h1-mobile {
         font-size: 25px;
     }
}

@media only screen and (min-width: 660px) and (max-width: 829px) {

    .visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    width: 630px;
     }
        
    #visit-us-cta, #guided-tours-cta, #our-exhibiton-cta, #explore-cta, #lectures-cta, #vritual-reality-cta, #sheila-Widnall-lecture-cta, #night-at-the-museum-cta {
    width: 600px;
    margin-top: 20px;
    height: 40px;
     }
    
    .h2-visit-us, .h2-guided-tours, .h3-our-exhibiton, .h3-explore, .h4-lectures, .h5-vritual-reality, .h5-sheila-widnall-lecture, .h6-night-at-the-museum {
    
     font-size: 20px;
    }
    
    .text-visit-us, .text-guided-tours, .our-exhibiton-text, .explore-text, .lectures-text, .vritual-reality-text, .sheila-Widnall-lecture-text, .night-at-the-museum-text {
        
    font-size: 18px;
    max-width: 400px;
    }

    .h1-mobile {
     font-size: 25px;
     }
}

@media only screen and (min-width: 830px) {

    .h1-mobile {
        font-size: 30px;
    }

    .visit-us-image, .guided-tour-image, .our-exhibiton-image, .explore-image, .letures-image, .vritual-reality-image, .sheila-Widnall-lecture-image, .night-at-the-museum-image {
    width: 300px;
     }

    .visit-us-container, .our-exhibiton-container, .vritual-reality-container {
        display: flex;
        text-align: center;
        width: 830px;
        margin-left: 1%;
    }
    .explore {
        width: 395px;
    }

    .visit-us {
        margin-right: 60px;
    }
 

    .h2-guided-tours {
        margin-left: 0px;
    }

    .text-guided-tours {
        margin-left: 0px;
        max-width: 350px;
    }

    #guided-tours-cta {
        width: 350px;
        margin-top: 2px;
    }

    .visit-us-container {
        background-color: green;
        width: 100%;
        margin-left: 0px;
    }
    
}











